@import "tailwindcss";
@plugin "daisyui";

/*@view-transition {
    navigation: auto;
}*/

:root {
    overscroll-behavior: none;
}

.ds-indicator {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    justify-content: center;
}
