@import "tailwindcss";
@plugin "daisyui";

@view-transition {
    navigation: auto;
}

/* Controls duration for the default root-level fade/move */
::view-transition-group(root) {
    animation-duration: 0.1s;
}

:root {
    overscroll-behavior: none;
}

.ds-indicator {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    justify-content: center;
}
