package gui

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<title>Vent Admin</title>
			<link rel="stylesheet" href="/admin/static/style.css"/>
			<script type="module" src="/admin/static/datastar.js"></script>
		</head>
		<body class="flex w-screen h-screen relative">
			{ children... }
		</body>
	</html>
}
