package gui

import (
	"context"
	"encoding/json"
	"io"

	"github.com/troygilman/vent"
	"github.com/troygilman/vent/requestctx"
)

func staticAsset(adminPath, path string) string {
	return adminPath + path + "?v=" + vent.StaticAssetVersion
}

templ Index() {
	{{ adminPath := requestctx.MustAdminPath(ctx) }}
	{{ theme := requestctx.MustTheme(ctx) }}
	{{ datastarPath := templ.URL(staticAsset(adminPath, "static/js/datastar.js")) }}
	{{ pluginsPath := templ.URL(staticAsset(adminPath, "static/js/datastar-plugins.js")) }}
	{{ commonPath := templ.SafeURL(staticAsset(adminPath, "static/js/common.js")) }}
	{{ commandPalettePath := templ.SafeURL(staticAsset(adminPath, "static/js/command-palette.js")) }}
	{{ fontPath := templ.SafeURL(adminPath + "static/fonts/inter-latin.woff2") }}
	{{ stylePath := templ.SafeURL(staticAsset(adminPath, "static/css/style.css")) }}
	{{ faviconIcoPath := templ.SafeURL(staticAsset(adminPath, "static/img/favicon.ico")) }}
	{{ faviconPngPath := templ.SafeURL(staticAsset(adminPath, "static/img/vent-logo.png")) }}
	<!DOCTYPE html>
	<html lang="en" data-theme={ theme }>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<meta name="csrf-token" content={ requestctx.MustCSRFToken(ctx) }/>
			<title>Vent Admin</title>
			<link rel="icon" href={ faviconPngPath } type="image/png"/>
			<link rel="alternate icon" href={ faviconIcoPath } sizes="any"/>
			<link rel="preload" href={ fontPath } as="font" type="font/woff2" crossorigin/>
			<link rel="preload" href={ stylePath } as="style"/>
			<link rel="stylesheet" href={ stylePath } media="all"/>
			<script src={ commonPath }></script>
			<script src={ commandPalettePath }></script>
			@ImportMap(map[string]any{
				"imports": map[string]any{
					"datastar": datastarPath,
				},
			})
			<script type="module" src={ datastarPath }></script>
			<script type="module" src={ pluginsPath }></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

func ImportMap(data map[string]any) templ.Component {
	return templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
		b, err := json.Marshal(data)
		if err != nil {
			return err
		}
		_, err = io.WriteString(w, `<script type="importmap">`+string(b)+`</script>`)
		return err
	})
}
