package gui

import "github.com/troygilman/vent/requestctx"

type LoginProps struct {
	EmailError     string
	PasswordErrors []string
}

templ LoginPage(props LoginProps) {
	@Index() {
		@Login(props)
		@Indicator()
	}
}

templ Login(props LoginProps) {
	<div id="login" class="login-shell">
		<div class="login-card">
			<form class="login-body" data-on:submit={ "@post('" + requestctx.MustAdminPath(ctx) + "login/')" } data-indicator="_indicator">
				<h2 class="login-title">Admin Login</h2>
				<div class="login-fields">
					<div class="login-field">
						<label class={ "input", templ.KV("error", props.EmailError != "") }>
							<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<g
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-width="2.5"
									fill="none"
									stroke="currentColor"
								>
									<rect width="20" height="16" x="2" y="4" rx="2"></rect>
									<path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
								</g>
							</svg>
							<input type="email" data-bind="login.email" placeholder="mail@site.com" required/>
						</label>
						if props.EmailError != "" {
							<div class="text-error">{ props.EmailError }</div>
						}
					</div>
					<div class="login-field">
						<label class={ "input", templ.KV("error", len(props.PasswordErrors) > 0) }>
							<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<g
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-width="2.5"
									fill="none"
									stroke="currentColor"
								>
									<path
										d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
									></path>
									<circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
								</g>
							</svg>
							<input
								type="password"
								data-bind="login.password"
								required
								placeholder="Password"
							/>
						</label>
						if len(props.PasswordErrors) > 0 {
							<p class="text-error">
								for idx, err := range props.PasswordErrors {
									{ err }
									if idx != len(props.PasswordErrors)-1 {
										<br/>
									}
								}
							</p>
						}
					</div>
				</div>
				<div class="login-actions">
					<button class="btn btn-primary btn-block" type="submit">Login</button>
				</div>
			</form>
		</div>
	</div>
}
