package gui

import (
	"fmt"

	"github.com/troygilman/vent/requestctx"
)

type SchemaEntityPasswordProps struct {
	LayoutProps   LayoutProps
	RouteName     string
	EntityID      int
	EntityDisplay string
	PasswordSet   bool
	ErrorMessage  string
}

templ SchemaEntityPasswordPage(props SchemaEntityPasswordProps) {
	{{ entityPath := fmt.Sprintf("%s%s/%d/", requestctx.MustAdminPath(ctx), props.RouteName, props.EntityID) }}
	{{ passwordPath := fmt.Sprintf("%s%s/%d/password/", requestctx.MustAdminPath(ctx), props.RouteName, props.EntityID) }}
	@Index() {
		@Layout(props.LayoutProps) {
			<div class="entity-form">
				<header class="entity-form-header">
					<h1 class="page-title">Manage Password</h1>
					<p class="entity-form-subtitle">{ fmt.Sprintf("for %s", props.EntityDisplay) }</p>
				</header>
				if props.ErrorMessage != "" {
					<div class="alert alert-error">
						<span>{ props.ErrorMessage }</span>
					</div>
				}
				<div class="entity-form-panel">
					<fieldset class="fieldset">
						<div class="field-group">
							<div class="field">
								<span class="field-label">Password Status</span>
								if props.PasswordSet {
									<span class="password-status password-status-set">Set</span>
								} else {
									<span class="password-status password-status-unset">Not set</span>
								}
							</div>
						</div>
						<div class="field-group">
							<label class="field">
								<span class="field-label">New password</span>
								<div class="input">
									<input type="password" data-bind="password.password" autocomplete="new-password" placeholder="Enter new password"/>
								</div>
							</label>
						</div>
						<div class="field-group">
							<label class="field">
								<span class="field-label">Confirm password</span>
								<div class="input">
									<input type="password" data-bind="password.confirmPassword" autocomplete="new-password" placeholder="Confirm new password"/>
								</div>
							</label>
						</div>
					</fieldset>
				</div>
				<div class="form-actions">
					<div class="btn-group">
						<button class="btn btn-primary" type="button" data-on:click={ fmt.Sprintf("@put('%s')", passwordPath) } data-indicator="_indicator">Save Password</button>
						<a class="btn btn-neutral" href={ templ.URL(entityPath) }>Back</a>
					</div>
					<button
						class="btn btn-error"
						disabled?={ !props.PasswordSet }
						type="button"
						data-on:click={ fmt.Sprintf("@delete('%s')", passwordPath) }
						data-confirm:click={ templ.JSONString("Are you sure you want to remove the password for " + props.EntityDisplay) }
						data-indicator="_indicator"
					>
						Remove Password
					</button>
				</div>
			</div>
			@Indicator()
		}
	}
}
