package gui

import (
	"fmt"

	"github.com/troygilman/vent/requestctx"
)

type SchemaEntityAddProps struct {
	LayoutProps         LayoutProps
	RouteName           string
	SingularDisplayName string
	ErrorMessage        string
	Fields              []SchemaEntityFieldProps
}

templ SchemaEntityAddPage(props SchemaEntityAddProps) {
	{{ schemaEntityPath := fmt.Sprintf("%s%s/", requestctx.MustAdminPath(ctx), props.RouteName) }}
	@Index() {
		@Layout(props.LayoutProps) {
			@SchemaEntityForm(SchemaEntityFormProps{
				TitleText:    fmt.Sprintf("Add %s", props.SingularDisplayName),
				ErrorMessage: props.ErrorMessage,
				Fields:       props.Fields,
				BackURL:      schemaEntityPath,
				ActionButtons: []templ.Component{
					SchemaEntityAddButton(schemaEntityPath),
				},
			})
			@Indicator()
		}
	}
}
