package gui

import "fmt"

type SchemaEntityProps struct {
	LayoutProps   LayoutProps
	AdminPath     string
	RouteName     string
	EntityID      int
	EntityDisplay string
	ErrorMessage  string
	Fields        []SchemaEntityFieldProps
}

templ SchemaEntityPage(props SchemaEntityProps) {
	{{ schemaEntityPath := fmt.Sprintf("%s%s/%d/", props.AdminPath, props.RouteName, props.EntityID) }}
	@Index(props.AdminPath) {
		@Layout(props.LayoutProps) {
			@SchemaEntityForm(SchemaEntityFormProps{
				TitleText:    fmt.Sprintf("Change %s", props.EntityDisplay),
				ErrorMessage: props.ErrorMessage,
				Fields:       props.Fields,
				Buttons: []templ.Component{
					SchemaEntitySaveButton(schemaEntityPath),
					SchemaEntityDeleteButton(schemaEntityPath),
				},
			})
			@Indicator()
		}
	}
}
