package gui

import "fmt"

type SchemaEntityFormProps struct {
	TitleText       string
	ErrorMessage    string
	Fields          []SchemaEntityFieldProps
	ActionButtons   []templ.Component
	BackURL         string
	TrailingButtons []templ.Component
}

type SchemaEntityFieldProps struct {
	HTML string
}

templ SchemaEntityForm(props SchemaEntityFormProps) {
	<div class="entity-form">
		<header class="entity-form-header">
			<h1 class="page-title">{ props.TitleText }</h1>
		</header>
		if props.ErrorMessage != "" {
			<div class="alert alert-error">
				<span>{ props.ErrorMessage }</span>
			</div>
		}
		<form>
			<div class="entity-form-panel">
				<fieldset class="fieldset">
					for _, field := range props.Fields {
						@SchemaEntityField(field)
					}
				</fieldset>
			</div>
			<div class="form-actions">
				<div class="btn-group">
					for _, button := range props.ActionButtons {
						@button
					}
					if props.BackURL != "" {
						<a class="btn btn-neutral" href={ templ.SafeURL(props.BackURL) }>Back</a>
					}
				</div>
				for _, button := range props.TrailingButtons {
					@button
				}
			</div>
		</form>
	</div>
}

templ SchemaEntitySaveButton(path string) {
	<button
		class="btn btn-primary"
		type="submit"
		data-on:click={ fmt.Sprintf("@patch('%s')", path) }
		data-indicator="_indicator"
	>
		Save
	</button>
}

templ SchemaEntityDeleteButton(path string, entityDisplay string) {
	<button
		class="btn btn-error"
		type="button"
		data-on:click={ fmt.Sprintf("@delete('%s')", path) }
		data-indicator="_indicator"
		data-confirm={ templ.JSONString("Are you sure you want to delete " + entityDisplay + "?") }
	>
		Delete
	</button>
}

templ SchemaEntityAddButton(path string) {
	<button
		class="btn btn-primary"
		type="submit"
		data-on:click={ fmt.Sprintf("@post('%s')", path) }
		data-indicator="_indicator"
	>
		Add
	</button>
}

templ SchemaEntityField(props SchemaEntityFieldProps) {
	@templ.Raw(props.HTML)
}
