package gui

import (
	"fmt"

	"github.com/troygilman/vent/requestctx"
)

type SchemaEntityChangeProps struct {
	LayoutProps   LayoutProps
	RouteName     string
	EntityID      int
	EntityDisplay string
	ErrorMessage  string
	Fields        []SchemaEntityFieldProps
}

templ SchemaEntityChangePage(props SchemaEntityChangeProps) {
	{{ schemaListPath := fmt.Sprintf("%s%s/", requestctx.MustAdminPath(ctx), props.RouteName) }}
	{{ schemaEntityPath := fmt.Sprintf("%s%s/%d/", requestctx.MustAdminPath(ctx), props.RouteName, props.EntityID) }}
	@Index() {
		@Layout(props.LayoutProps) {
			@SchemaEntityForm(SchemaEntityFormProps{
				TitleText:    fmt.Sprintf("Change %s", props.EntityDisplay),
				ErrorMessage: props.ErrorMessage,
				Fields:       props.Fields,
				BackURL:      schemaListPath,
				ActionButtons: []templ.Component{
					SchemaEntitySaveButton(schemaEntityPath),
				},
				TrailingButtons: []templ.Component{
					SchemaEntityDeleteButton(schemaEntityPath, props.EntityDisplay),
				},
			})
			@Indicator()
		}
	}
}
