{{ define "vent_admin" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

{{ $adminPath := $.Annotations.VentConfig.AdminPath }}

import (
	"context"
	"net/http"
	"log"
	"strconv"
	"vent"
	"vent/utils"
	"vent/templates/gui"
	"github.com/starfederation/datastar-go/datastar"
)

type AdminConfig struct {
    Client *Client
    SecretProvider auth.SecretProvider
}

func NewAdminHandler(config AdminConfig) http.Handler {
    credentialAuthenticator := auth.NewBCryptCredentialAuthenticator()

    {{ range $node := $.Nodes }}
    {{ $tableFields := tableFields $node }}
    schema{{ $node.Name }} := vent.SchemaParams{
        Name: "{{ $node.Name }}",
        SchemaClient: &{{ $node.Name }}SchemaClient{
            client: config.Client.{{ $node.Name }},
        },
        Columns: []vent.SchemaColumn{
            {
                Name: "id",
                Label: "ID",
                Type: "int",
            },
            {{ range $field := $tableFields }}
            {
                Name: "{{ $field.Name }}",
                Label: "{{ pascal $field.Name }}",
                Type: "{{ $field.Type.Type }}",
            },
            {{ end }}
        },
    }
    {{ end }}

    handler := vent.NewHandler(
        config.SecretProvider,
        credentialAuthenticator,
        schema{{ $.Annotations.VentConfig.UserSchema }},
    )

    {{ range $node := $.Nodes }}
    handler.RegisterSchema(schema{{ $node.Name }})
    {{ end }}

    return handler
}

{{ range $node := $.Nodes }}
{{ $tableFields := tableFields $node }}
type {{ $node.Name }}SchemaClient struct {
    client *{{ $node.Name }}Client
}

func (c *{{ $node.Name }}SchemaClient) Query(
	ctx context.Context,
	predicates []vent.Predicate,
	orders []vent.OrderOption,
) (iter.Seq[vent.Entity], error) {
    q := c.client.Query()
	for _, p := range predicates {
		q = q.Where(p)
	}
	for _, o := range orders {
		q = q.Order(o)
	}
	result, err := q.All(ctx)
	if err != nil {
		return nil, err
	}
	return func(yield func(vent.Entity) bool) {
		for _, entity := range result {
			if !yield(entity) {
				return
			}
		}
	}, nil
}

func (c *{{ $node.Name }}SchemaClient) QueryOnly(
	ctx context.Context,
	predicates []vent.Predicate,
) (vent.Entity, error) {
	q := c.client.Query()
	for _, p := range predicates {
		q = q.Where(p)
	}
	return q.Only(ctx)
}

func (c *{{ $node.Name }}SchemaClient) Update(
    ctx context.Context,
    predicates []vent.Predicate,
    mutations []vent.Mutation,
) error {
    q := c.client.Update()
    for _, p := range predicates {
        q = q.Where(p)
    }
    for _, m := range mutations {
        switch m.FieldName {
        {{ range $field := $tableFields }}
        case "{{ $field.Name }}":
            q = q.Set{{ pascal $field.Name }}(m.Value.({{ $field.Type }}))
        {{ end }}
        }
    }
    return q.Exec(ctx)
}

func (c *{{ $node.Name }}SchemaClient) Delete(
    ctx context.Context,
    predicates []vent.Predicate,
) (int, error) {
	q := c.client.Delete()
	for _, p := range predicates {
		q = q.Where(p)
	}
	return q.Exec(ctx)
}
{{ end }}

{{ end }}
