{{ define "getters" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

import (
    "fmt"
	"entgo.io/ent"
	{{ range $node := $.Nodes }}
	"{{ $.Config.Package }}/{{ lower $node.Name }}"
	{{ end }}
)

{{ range $node := $.Nodes }}
func (_m *{{ $node.Name }}) Get(field string) ent.Value {
    switch field {
    case {{ lower $node.Name }}.FieldID:
        return _m.ID
    {{ range $field := $node.Fields }}
    case {{ lower $node.Name }}.Field{{ pascal $field.Name }}:
        return _m.{{ pascal $field.Name }}
    {{ end }}
    default:
        panic(fmt.Errorf("field does not exists: %s", field))
    }
}
{{ end }}

{{ end }}
