{{ define "migrate/migratedata/migratedata" }}

package migratedata

type Metadata struct {
	Schemas map[string]vent.VentSchemaAnnotation `json:"schemas"`
}

var metadata = Metadata{
	Schemas: map[string]vent.VentSchemaAnnotation{
	    {{ range $node := $.Nodes }}
        "{{ lower $node.Name }}": vent.VentSchemaAnnotation{}.MustParse(`{{ stringify $node.Annotations.VentSchema }}`),
        {{ end }}
	},
}

func UpdateAuthPermissions(dir *migrate.LocalDir) error {
	prevMetadata, err := loadMetadata("ent/migrate/migrations/meta.json")
	if err != nil {
		return err
	}

	ctx := context.Background()
	w := &schema.DirWriter{Dir: dir}
	client := ent.NewClient(ent.Driver(schema.NewWriteDriver(dialect.SQLite, w)))

	permissionBuilders := []*ent.AuthPermissionCreate{}
	for schemaName, annotation := range metadata.Schemas {
		prevAnnotation, ok := prevMetadata.Schemas[schemaName]
		if ok {
			prevPermissions := prevAnnotation.PermissionMap()
			for _, permission := range annotation.Permissions {
				_, ok := prevPermissions[permission.Name]
				if !ok {
					permissionBuilders = append(permissionBuilders, client.AuthPermission.Create().SetName(permission.Name))
				}
			}
		} else {
			defaultPermActions := []string{"create", "read", "update", "delete"}
			for _, action := range defaultPermActions {
				permissionBuilders = append(permissionBuilders, client.AuthPermission.Create().SetName(fmt.Sprintf("%s_%s", action, schemaName)))
			}
		}
	}

	permissions, err := client.AuthPermission.CreateBulk(permissionBuilders...).Save(ctx)
	if err != nil {
		return err
	}

	if len(permissions) > 0 {
		if err := w.FlushChange(
			"update_auth_permissions",
			"Backfill all empty user names with default value 'unknown'.",
		); err != nil {
			return err
		}
	}

	return saveMetadata("ent/migrate/migrations/meta.json", metadata)
}

func loadMetadata(name string) (meta Metadata, err error) {
	file, err := os.OpenFile(name, os.O_RDONLY|os.O_CREATE, 0666)
	if err != nil {
		return meta, err
	}
	defer file.Close()

	buf, err := io.ReadAll(file)
	if err != nil {
		return meta, err
	}

	if len(buf) == 0 {
		return meta, nil
	}

	metadata := Metadata{}
	if err := json.Unmarshal(buf, &metadata); err != nil {
		return meta, err
	}

	return metadata, nil
}

func saveMetadata(name string, metadata Metadata) error {
	buf, err := json.Marshal(&metadata)
	if err != nil {
		return err
	}

	return os.WriteFile(name, buf, 0644)
}

{{ end }}
